<div class="container-card-to-book">
    <div class="card-product"> <!-- Flexbox for card layout -->
      <div>
        <% if art.photo.key %>
           <%= cl_image_tag art.photo.key, crop: :fill, gravity: :face %>
           <% end %>
      </div>

      <div class="card-product-infos-to-book d-flex flex-column justify-content-center align-items-center text-center"> <!-- Flexbox for centering content -->
        <h3 class="card-title paragraph-title">Art piece: <%= art.title %></h3>
        <p><strong>Category:</strong> <%= art.category %></p>
        <p><strong>Creation date:</strong> <%= art.creation_date %></p>
        <p><strong>Booking price per day:</strong> <%= art.price %></p>
      </div>

    </div>
