
<div class="container-sm" style="width: 500px">
<h1>Pending request</h1>
<p>Thank you for booking <strong><%= @art.title %>.</p></strong>
<p>Your request is currently pending. The owner will get back to you very soon.</p>
<div class="container-card-index">
  <div class="card-product-details d-flex flex-column h-100"> <!-- Flexbox for card layout -->
    <!-- Image Section -->
    <div class="card-image" style="flex-grow: 1;">
      <%= image_tag @art.photo, class: "w-100 h-100 object-fit-cover", alt: "Artwork Image" if @art.photo.attached? %>
    </div>
    <!-- Info Section -->
    <div class="card-product-infos d-flex flex-column justify-content-start align-self-stretch p-3">
      <h3><strong class="h1 text-dark">Artist: <%= @art.name %></strong></h3>
      <p><strong>Category:</strong> <%= @art.category %></p>
      <p><strong>Creation date:</strong> <%= @art.creation_date.strftime('%d/%m/%Y') %></p>
      <p><strong>Renting price per day:</strong> <%= number_to_currency(@art.price) %></p>
      <p><strong>Start date:</strong> <%= @booking.start_date.strftime('%d/%m/%Y') %></p>
      <p><strong>End date:</strong> <%= @booking.end_date.strftime('%d/%m/%Y') %></p>
      <p><strong>Total price:</strong> <%= number_to_currency((@booking.end_date - @booking.start_date).round * @booking.art.price) %></p>
    </div>

    <!-- Buttons Section -->
    <div class="buttons d-flex justify-content-center p-3">
      <%= link_to "All Bookings", art_bookings_path, class: "btn btn-outline-secondary mb-5" %>
    </div>
    <!-- Footer Section -->
    <div class="card-footer bg-white text-center p-2">
      <strong>Booking status: </strong>Waiting for owner validation
    </div>
  </div>
</div>
</div>
