<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://img2.freepng.fr/20180218/iow/av13n8aa8.webp');"> %>
<%= render "homepage-banner" %>

<div class="container-home">

<h2 class="paragraph-title">Top trending arts</h2>

<p class="paragraph">All types of art pieces are available for rent on Art'BnB.
</br>Pick the one you love to pimp your living-room!</p>


<%# Carousel Bootstrap %>
<div class="container-carousel">
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active carousel-picture">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Mural_del_Gernika.jpg/390px-Mural_del_Gernika.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item carousel-picture">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg/390px-Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item carousel-picture">
      <img src="https://www.museumtv.art/wp-content/uploads/2021/05/E5EA565D-7ADE-43FF-B762-844F60CFAE23-1024x778.jpeg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

<div class="container-cards-homepage">
<div class="section">
    <h2 class="paragraph-title-column">Book a masterpiece</h2>

    <p class="paragraph-column">All types of arts are available.</p>

    <div class="card-product-homepage">
    <%= image_tag "salon-homepage.jpg" %>
      <div class="card-product-homepage-infos">
        <h2>Have guests tonight?</h2>
        <p>Don't waste more time.
        <strong>Book'n'brag</strong>!</p>
        <%= link_to "See arts for rent", arts_path, class: "btn btn-ghost" %>
      </div>
    </div>
  </div>

  <div class="section">
    <h2 class="paragraph-title-column">Lend your art</h2>

    <p class="paragraph-column">Make money easily.</p>

    <div class="card-product-homepage">
      <%# <img src="../../assets/images/logo.png" /> %>
    <%= image_tag "money-homepage.jpg" %>
      <div class="card-product-homepage-infos">

        <h2>Own a masterpiece?</h2>
        <div>
        <p>Don't waste more time. <strong>Earn money from it</strong>!</p>
        </div>

        <%= link_to "Register a new art", new_art_path, class: "btn btn-ghost"%>
      </div>
    </div>
  </div>
</div>


<%# Buttons %>

<%# <%= link_to "See arts for rent", arts_path, class: "btn btn-ghost" %>
<%# <%= link_to "Register a new art", new_art_path, class: "btn btn-ghost" %>


</div>
