<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://img2.freepng.fr/20180218/iow/av13n8aa8.webp');"> %>
<%= render "homepage-banner" %>

<div class="background-1">
  <div class="container-home">

    <h2 class="paragraph-title">Top trending arts</h2>

    <p class="paragraph">All types of art pieces are available for rent on Art'BnB.
    </br>Pick the one you love to pimp your living-room!</p>



    <%# Carousel Bootstrap %>
    <%# <div class="container-carousel" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= asset_path('steve_johnson_bw_opacity.png') %>
    <div class="container-carousel">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner" style="filter: grayscale(0%)">
        <div class="carousel-item active carousel-picture">
          <%= link_to art_path(Art.find(4)) do %>
          <%= image_tag Art.find(4).photo, class: "d-block w-100", alt: "..." %>
          <% end %>
          <p style="text-align: center;">
            <a class="btn btn-ghost-carousel" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Interested?
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <%# <div class="card card-body" style="text-align: center;"> %>
            <div style="text-align: center; margin-top: 30px; margin-bottom: 30px">
              <%= link_to "<strong><i>#{Art.find(4).title}</strong></i> <br>is available!".html_safe, art_path(Art.find(4)), class: "paragraph-carousel" %>
            </div>
          </div>
        </div>

    <div class="carousel-item carousel-picture">
          <%= link_to art_path(Art.find(2)) do %>
          <%= image_tag Art.find(2).photo, class: "d-block w-100", alt: "..." %>
          <% end %>
          <p style="text-align: center;">
            <a class="btn btn-ghost-carousel" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Interested?
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <%# <div class="card card-body" style="text-align: center;"> %>
            <div style="text-align: center; margin-top: 30px; margin-bottom: 30px">
              <%= link_to "<strong><i>#{Art.find(2).title}</strong></i> <br>is available!".html_safe, art_path(Art.find(2)), class: "paragraph-carousel" %>
            </div>
          </div>
        </div>

        <div class="carousel-item carousel-picture">
          <%= link_to art_path(Art.find(8)) do %>
          <%= image_tag Art.find(8).photo, class: "d-block w-100", alt: "..." %>
          <% end %>
          <p style="text-align: center;">
            <a class="btn btn-ghost-carousel" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Interested?
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <%# <div class="card card-body" style="text-align: center;"> %>
            <div style="text-align: center; margin-top: 30px; margin-bottom: 30px">
              <%= link_to "<strong><i>#{Art.find(8).title}</strong></i> <br>is available!".html_safe, art_path(Art.find(8)), class: "paragraph-carousel" %>
            </div>
          </div>
        </div>

        <div class="carousel-item carousel-picture">
          <%= link_to art_path(Art.find(9)) do %>
          <%= image_tag Art.find(9).photo, class: "d-block w-100", alt: "..." %>
          <% end %>
          <p style="text-align: center;">
            <a class="btn btn-ghost-carousel" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Interested?
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <%# <div class="card card-body" style="text-align: center;"> %>
            <div style="text-align: center; margin-top: 30px; margin-bottom: 30px">
              <%= link_to "<strong><i>#{Art.find(9).title}</strong></i> <br>is available!".html_safe, art_path(Art.find(9)), class: "paragraph-carousel" %>
            </div>
          </div>
        </div>


        <div class="carousel-item carousel-picture">
          <%= link_to art_path(Art.find(1)) do %>
          <%= image_tag Art.find(1).photo, class: "d-block w-100", alt: "..." %>
          <% end %>
          <p style="text-align: center;">
            <a class="btn btn-ghost-carousel" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Interested?
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <%# <div class="card card-body" style="text-align: center;"> %>
            <div style="text-align: center; margin-top: 30px; margin-bottom: 30px">
              <%= link_to "<strong><i>#{Art.find(1).title}</strong></i> <br>is available!".html_safe, art_path(Art.find(1)), class: "paragraph-carousel" %>
            </div>
          </div>
        </div>


      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </div>

</div>
</div>

<div class="background-2">
  <div class="container-home">

    <%# Sous le carousel %>

    <div class="container-cards-homepage">
    <div class="section">
        <h2 class="paragraph-title-column">Book a masterpiece</h2>

        <p class="paragraph-column">All types of arts are available.</p>

        <div class="card-product-homepage">
        <%= image_tag "salon-homepage.jpg" %>
          <div class="card-product-homepage-infos">
            <h2>Have guests tonight?</h2>
            <p>Don't waste more time.
            <strong>Book'n'brag</strong>!</p>
            <%= link_to "See arts for rent", arts_path, class: "btn btn-ghost" %>
          </div>
        </div>
      </div>

      <div class="section">
        <h2 class="paragraph-title-column">Lend your art</h2>

        <p class="paragraph-column">Make money easily.</p>

        <div class="card-product-homepage">
          <%# <img src="../../assets/images/logo.png" /> %>
        <%= image_tag "money-homepage.jpg" %>
          <div class="card-product-homepage-infos">

            <h2>Own a masterpiece?</h2>
            <div>
            <p>Don't waste more time. <strong>Earn money from it</strong>!</p>
            </div>

            <%= link_to "Register a new art", new_art_path, class: "btn btn-ghost"%>
          </div>
        </div>
      </div>
    </div>

  </div>

  <%# Buttons %>

  <%# <%= link_to "See arts for rent", arts_path, class: "btn btn-ghost" %>
  <%# <%= link_to "Register a new art", new_art_path, class: "btn btn-ghost" %>
</div>
