<div class="container">

<h1 class="paragraph-title">Edit <%= @art.title %></h1>

<%= simple_form_for(@art) do |f| %>
  <%= f.input :title %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :creation_date %>
  <%= f.input :price %>

  <%= f.submit class: "btn btn-primary text-white"%>
<% end %>

</div>
